body{
    margin: 0px;
    padding: 0px;
    background-image: url("Image/bg1.jpg");
    background-size: 100% 100%;
    color: white;
    font-family: 'Mochiy Pop One', sans-serif;
}
.left{
    position: absolute;
    left: 34px;
    top: 20px;
    display: inline-block;
    /* border: 2px solid yellow; */
}
.left img{
    width: 110px;
}
.left div{
    line-height: 19px;
    text-align: center;
}
.mid{
    display: block;
    width: 50%;
    margin: 46px auto;
    /* border: 2px solid green; */
}
.right{
    position: absolute;
    right: 34px;
    top: 45px;
    display: inline-block;
    /* border: 2px solid yellow; */
}
.navbar li{
    display: inline-block;
    font-size: 18px;
}
.navbar li a{
    color: white;
    text-decoration: none;
    padding: 28px 10px;
}
.navbar li a:hover, .navbar li a.active{
    text-decoration: underline;
    color: grey;
}
.btn{
    margin: 0px 5px;
    background-color: black;
    color: white;
    padding: 4px 5px;
    border: 2px solid grey;
    border-radius: 10px;
    font-size: 12px;
    cursor: pointer;
    font-family: 'Mochiy Pop One', sans-serif;
}
.btn:hover{
    background-color: rgb(47, 44, 44);
}
.container{
    border: 2px solid white;
    margin: 130px 115px;
    padding: 50px;
    width: 42%;
    border-radius: 28px;
}
.details input{
    text-align: center;
    display: block;
    width: 500px;
    padding: 4px;
    margin: 6px auto;
    border: 2px solid black;
    font-size: 15px;
    border-radius: 10px;
    font-family: 'Mochiy Pop One', sans-serif;
}
.container h1{
    text-align: center;
}
.container button{
    display: block;
    width: 35%;
    margin: 12px auto;
}